.card{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 2rem;
    padding: 3rem;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.card:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-out;
}

.img{
    width: 90%;
    height: 90%;
    margin-bottom: 2rem;
    box-shadow: 0 2px 8px rgb(0, 0, 0);
}

@media screen and (max-width: 768px){
    .img{
        width: 100%;
        height: 70%;
    }
}
